body {
    padding: 10px;
}

.listing_button{
    border: dotted;
    margin-left: 100px;
    margin-right:100px;
    margin-bottom: 100px;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.page_header{
    text-align: center;
}