{% extends "auctions/layout.html" %}

{% block body %}


    <h1>{{category}}</h1>


    {% for listing in listings %}
        <div class = "listing_button">
            <a href="{% url 'auctions:listing' listing.id %}">
                <h2 id = "dez">{{listing.title}}</h2>
                <p>{{listing.description}}</p>
                {% if listing.image is not None%}
                    <img src="{{listing.image}}" width="500px">
                {%endif%}
            </a>
        </div>

    {% endfor %}


{% endblock %}